.table-payments .column-status {
  width: 10rem;
  min-width: 10rem;
  max-width: 10rem;
}

.table-payments .column-email {
  min-width: 20rem;
}

.table-payments .column-amount {
  width: 10rem;
  min-width: 10rem;
  max-width: 10rem;
}

.table-payments .column-actions {
  width: 10rem;
  min-width: 10rem;
  max-width: 10rem;
}
