body {
  font-family: var(--font-family);
}

.p-datatable-wrapper {
  overflow-x: scroll;
}

.p-datatable-table {
  width: 100%;
}

.p-datatable-header {
  display: flex;
  justify-content: space-between;
}
