body {
  font-family: var(--font-family);
}

.p-datatable-wrapper {
  overflow-x: scroll;
}

.p-datatable-table {
  width: 100%;
}

.p-datatable-header {
  display: flex;
  justify-content: space-between;
}

.p-datatable-header-button-group {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
